name: Deploy React project
on: 
  push:
  workflow_dispatch:
jobs:
  test:
    # ubuntu-latest runner has Node 16 installed on it. Refer online for softwares that are installed on various runners.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      # Adding Install Node step to use a higher version. For each action, lookup online doc for syntax
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci # Same as npm install. But ci ensures versions same as in package-lock json
      - name: Run tests
        run: npm test
    
  deploy:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      # Adding Install Node step to use a higher version. For each action, lookup online doc for syntax
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci # Same as npm install. But ci ensures versions same as in package-lock json
      - name: Build project
        run: npm run build
      - name: Deploy
        run: echo "Deploying...."
        
